body {
    /*background-color: #22a6b3;*/
}

input {
    background-color: #ffffff;
}

.titulo1 {
    text-align: center;
    font-size: 3rem;
}

.titulo2 {
    text-align: center;
    font-size: 2rem;
}